<section class="grid">
  <h1 class="title">Gerenciamento de funcionários</h1>

  <div class="adicionar-button">
    <button
      type="button"
      class="btn btn-primary btn-sm"
      (click)="adicionarFuncionario()"
    >
      Adicionar funcionário
    </button>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="table-light">
        <tr>
          <th class="col">Nome</th>
          <th class="col">Telefone</th>
          <th class="col">E-mail</th>
          <th class="col">Cidade</th>
          <th class="col">Cargo</th>
          <th class="col">Endereço</th>
          <th class="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        @for (funcionario of funcionarios; track funcionario){
        <tr>
          <td class="col">{{ funcionario?.nome }}</td>
          <td class="col">{{ funcionario?.telefone }}</td>
          <td class="col">{{ funcionario?.email }}</td>
          <td class="col">{{ funcionario?.cidade }}</td>
          <td class="col">{{ funcionario?.cargo }}</td>
          <td class="col">{{ funcionario?.endereco }}</td>
          <td class="col">
            <button
              type="button"
              (click)="editarFuncionario(funcionario)"
              class="btn btn-primary btn-sm me-2"
            >
              <i class="bi bi-pencil-square"></i>
            </button>
            <button
              type="button"
              (click)="excluirFuncionario(funcionario.id)"
              class="btn btn-danger btn-sm"
            >
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</section>

@if (showModal) {
<app-modal
  [funcionarioParaEditar]="funcionarioParaEditar"
  [modalMode]="modalMode"
  (close)="showModal = false"
  (dadosFuncionario)="recebeDadosFuncionario($event)"
></app-modal>
}

<div class="grid-toast toast-container position-fixed bottom-0 end-0 p-3">
  <div
    id="toast"
    class="toast bg-primary text-bg-primary"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-body">
      O funcionário foi <b>{{ operation }}</b> com sucesso.
    </div>
  </div>
</div>
