.grid {
  margin: 2rem 2rem;

  .title {
    text-align: center;
    margin-bottom: 1rem;
  }

  .adicionar-button {
    height: 1rem;
    margin-bottom: 2rem;
    float: right;
  }
}

::ng-deep .table-responsive {
  width: 100%;
}

::ng-deep .toast {
  width: 100%;
  text-align: center;
}
